.jo-shopping-list {
    padding: 0 1rem;

    & input {
        font-size: 1.2rem;
        font-weight: bolder;
    }
}

.jo-list-title-line {
    width: 100%;
    margin-bottom: 1rem;
}

.jo-toolbar {
    display: flex;
    justify-content: space-between;
}

.jo-buttons {
    margin: 0 1rem;
}
