#inp_title {
    width: 100%;
}

.jo-shopping-list {
    padding: 0 1rem;
}

.jo-list-title-line {
    width: 100%;
}

.jo-toolbar {
    display: flex;
    justify-content: space-between;
}

.jo-buttons {
    margin: 0 1rem;
}
