.jo-list-item {
    margin-bottom: 1rem;
}

#inp_description {
    width: 16rem;
    margin-right: 1rem;
}

#inp_quantity {
    width: 8rem;
    margin-right: 1rem;
}

#inp_category {
    width: 8rem;
    margin-right: 1rem;
}

.jo-done {
    margin: 0 4px;
    height: 32px;
    width: 32px;
}
