<main fxLayout="row wrap" fxLayoutAlign="center center" class="jo-container">
  <mat-sidenav-container class="jo-page">
      <mat-sidenav #sidenav role="navigation">
          <app-navi-sidebar (closed)="sidenav.close()"></app-navi-sidebar>
      </mat-sidenav>
      <mat-sidenav-content>
          <app-navi-header (toggled)="sidenav.toggle()"></app-navi-header>
          <div class="jo-window">
              <router-outlet></router-outlet>
          </div>
      </mat-sidenav-content>
  </mat-sidenav-container>
</main>