.jo-table-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.jo-item-description-label {
    display: inline-block;
    width: 16rem;
    margin-right: 1rem;
}

.jo-item-quantity-label {
    display: inline-block;
    width: 8rem;
    margin-right: 1rem;
}

.jo-item-category-label {
    display: inline-block;
    width: 8rem;
    margin-right: 1rem;
}
