<mat-toolbar color="primary" classs="jo-navi-header">
    <div fxHide fxShow.lt-md>
        <button mat-icon-button (click)="onToggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div class="jo-app-title">Shopping List</div>
    <div fxFlex fxLayout="row nowrap" fxLayoutAlign="flex-end">
        <div fxShow fxHide.lt-md>
            <ul fxLayout fxLayoutGap="3rem" class="jo-navi-items">
                <li>
                    <a
                        [routerLink]="['/shoplist/lists']"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"
                    >
                        <span>Shopping List</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/about']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        <span>About</span>
                    </a>
                </li>
                <li>
                    <a
                        [routerLink]="['/signout']"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"
                    >
                        <mat-icon>cancel</mat-icon>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</mat-toolbar>
